{% load static %}

  <!-- -------- START FOOTER 7 w/ DARK BACKGROUND AND 3 COLUMNS ------- -->
  <footer class="footer py-5 bg-gradient-dark position-relative overflow-hidden">
    <img src="{% static 'assets/img/shapes/waves-white.svg' %}" alt="pattern-lines" class="position-absolute start-0 top-0 w-100 opacity-6">
    <div class="container position-relative">
      <div class="row">
        <div class="col-lg-4 me-auto my-auto text-lg-start text-center">
          <h6 class="text-white font-weight-bolder text-uppercase mb-2">PLN NP Services</h6>
          <h5 class="text-white font-weight-bolder text-uppercase mb-2">Innovation Lab</h5>
          <p class="text-white">
          Proposed by Guntar
          </p>
        </div>
        



      </div>
    </div>
  </footer>
  <!-- -------- END FOOTER 7 w/ DARK BACKGROUND AND 3 COLUMNS ------- -->
  