
  <!-- ---- START FOOTER 2 dark w/ bg image 5 cols & subscribe area & social---- -->
  <footer class="footer py-lg-7 py-5 position-relative bg-gradient-dark overflow-hidden">
    <div class="position-absolute w-100 z-inde-1 top-0 mt-n3">
      <svg width="100%" viewBox="0 0 1920 157" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>Path Copy 2</title>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Artboard-Copy" transform="translate(0.000000, -416.000000)" fill="#FFFFFF">
            <path d="M-1,477.610914 C298.333333,531.905996 618.333333,527.38687 959,464.053537 C1299.66667,400.720204 1619.66667,400.572663 1919,463.610914 L1920,572.610914 L0,572.610914 L-1,477.610914 Z" id="Path-Copy-2" transform="translate(959.500000, 494.526769) scale(-1, -1) translate(-959.500000, -494.526769) "></path>
          </g>
        </g>
      </svg>
    </div>
    <div class="container position-relative mt-lg-8 mt-5">
      <div class="row ">
        <div class="col-lg-2 col-md-2 col-4">
          <h6 class="text-white text-sm">Company</h6>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link text-white opacity-8" href="https://www.creative-tim.com" target="_blank">
                Marketing
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white opacity-8" href="https://www.creative-tim.com" target="_blank">
                Analytics
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white opacity-8" href="https://www.creative-tim.com" target="_blank">
                Commerce
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white opacity-8" href="https://www.creative-tim.com" target="_blank">
                Insights
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-2 col-4">
          <h6 class="text-white text-sm">Support</h6>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link text-white opacity-8" href="https://www.creative-tim.com" target="_blank">
                Pricing
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white opacity-8" href="https://www.creative-tim.com" target="_blank">
                Docs
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white opacity-8" href="https://www.creative-tim.com" target="_blank">
                Guides
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white opacity-8" href="https://www.creative-tim.com" target="_blank">
                API Suport
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-2 col-4">
          <h6 class="text-white text-sm">Pages</h6>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link text-white opacity-8" href="https://www.creative-tim.com/presentation" target="_blank">
                About
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white opacity-8" href="https://www.creative-tim.com/blog" target="_blank">
                Blog
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white opacity-8" href="https://www.creative-tim.com" target="_blank">
                Jobs
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white opacity-8" href="https://www.creative-tim.com" target="_blank">
                Press
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white opacity-8" href="https://www.creative-tim.com/affiliates/new" target="_blank">
                Affiliates
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-2 col-4">
          <h6 class="text-white text-sm">Legal</h6>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link text-white opacity-8" href="https://www.creative-tim.com" target="_blank">
                Claim
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white opacity-8" href="https://www.creative-tim.com" target="_blank">
                Privacy
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white opacity-8" href="https://www.creative-tim.com" target="_blank">
                Terms
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-8 ms-md-auto">
          <h6 class="text-white text-md-end text-sm mb-0">Language & Currency</h6>
          <ul class="nav flex-column">
            <li class="nav-item mt-3">
              <select class="form-control" name="language-button" id="language-button">
                <option value="Choice 1" selected>English</option>
                <option value="Choice 2">Chinese</option>
                <option value="Choice 3">French</option>
                <option value="Choice 4">Romanian</option>
              </select>
            </li>
            <li class="nav-item mt-3">
              <select class="form-control" name="currency-button" id="currency-button">
                <option value="Choice 1" selected>USD</option>
                <option value="Choice 2">EUR</option>
                <option value="Choice 3">JPY</option>
                <option value="Choice 4">GBP</option>
                <option value="Choice 5">CAD</option>
                <option value="Choice 6">RON</option>
              </select>
            </li>
          </ul>
        </div>
      </div>
      <hr class="horizontal light my-4 mt-lg-4">
      <div class="row">
        <div class="col-lg-6 text-start">
          <h6 class="text-white">Subscribe to our newsletters</h6>
          <p class="text-white opacity-8 mb-lg-0">The latest news, articles and resources sent to your inbox weekely.</p>
        </div>
        <div class="col-lg-4 ms-auto text-end my-auto">
          <div class="row">
            <div class="col-md-8 col-7">
              <div class="form-group mb-0">
                <div class="input-group input-group-alternative">
                  <input class="form-control" placeholder="E-mail" type="email">
                </div>
              </div>
            </div>
            <div class="col-md-4 col-5 text-start ps-0">
              <button type="button" class="btn bg-gradient-primary mb-0 h-100">Subscribe</button>
            </div>
          </div>
        </div>
      </div>
      <hr class="horizontal light my-4">
      <div class="row">
        <div class="col-lg-6 col-md-6 my-auto">
          <p class="text-white mb-0 opacity-8">
            &copy; <a class="text-white" target="_blank" href="https://bit.ly/3fKQZaL">Creative Tim</a> - coded by AppSeed.
          </p>
        </div>
        <div class="col-lg-4 col-md-6  ms-auto text-md-end text-start mt-md-0 mt-2">
          <button type="button" class="btn btn-icon-only btn-link text-white mb-0 opacity-6">
            <i class="fab fa-facebook text-lg"></i>
          </button>
          <button type="button" class="btn btn-icon-only btn-link text-white mb-0 opacity-6">
            <i class="fab fa-twitter text-lg"></i>
          </button>
          <button type="button" class="btn btn-icon-only btn-link text-white mb-0 opacity-6">
            <i class="fab fa-dribbble text-lg"></i>
          </button>
          <button type="button" class="btn btn-icon-only btn-link text-white mb-0 opacity-6">
            <i class="fab fa-github text-lg"></i>
          </button>
        </div>
      </div>
    </div>
  </footer>
  <!-- ---- END FOOTER 2 dark w/ bg image 5 cols & subscribe area & social---- -->
  