{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Presentation {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock %}

{% block body_class %} presentation-page {% endblock %}

{% block content %}

  {% include 'includes/navigation-light.html' %}

    <!-- -------- START HEADER 3 w/ image on background ------- -->
<header class="position-relative">
    <div class="page-header" style="background-image: url('{% static 'assets/img/curved-images/curved14.jpg' %}'); height: 30vh;">
        <span class="mask bg-gradient-dark opacity-6"></span>
    </div>
    <div class="position-absolute w-100 z-index-1 bottom-0">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="moving-waves">
                <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
                <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
                <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
                <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95" />
            </g>
        </svg>
    </div>
</header>
<!-- -------- END HEADER 3 w/ image on background ------- -->



  <section class="my-5">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-12 my-auto">
          <h3 class="text-gradient text-primary mb-0">PLN NP Services Innovation Lab</h3>
          <h5>Powered by Artificial Intelligence</h5>
          <h5>Maksud:</h5>
          <p class="pe-md-5 mb-4">
            <ul>
              <li>Memfasilitasi pengkritisan inovasi (pertanyaan & masukan) dengan bantuan Agen AI</li>
              <li>Memfasilitasi tracking penindaklanjutan masukan oleh juri</li>
              <li>Memfasilitasi pematangan ide mandiri oleh inovator dg bantuan Agen AI</li>
            </ul>
          </p>
          <h5>Tujuan:</h5>
          <p class="pe-md-5 mb-4">
            <ul>
              <li>Mendorong improvement inovasi sesuai masukan</li>
              <li>Meningkatkan level kualitas ide inovasi dan makalahnya</li>
              <li>Memperbanyak tingkat partisipasi (kelahiran) ide</li>
              <li>Mengefisienkan dan mengefektifkan tahap seleksi inovasi</li>
            </ul>
          </p>

          <div class="github-buttons">
            <a href="{% url 'makalah_home' %}" rel="nofollow" class="btn bg-gradient-primary mb-5 mb-sm-0">Daftar Makalah</a>
          </div>
          <br>
          <div class="github-buttons">
            <a href="{% url 'ideasi:create_ideasi' %}" rel="nofollow" class="btn bg-gradient-info mb-5 mb-sm-0">Brainstorm Ide</a>
          </div>

        </div>
        <div class="col-md-5 col-12 my-auto">
          <a target="_blank" href="">
            <img class="w-100 border-radius-lg shadow-lg" src="{% static 'assets/img/pria-pembangkit.jpg' %}" alt="Product Image">
          </a>
        </div>
      </div>
    </div>
  </section>





{% include 'includes/footer-7.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script type="text/javascript">
    if (document.getElementById('state1')) {
      const countUp = new CountUp('state1', document.getElementById("state1").getAttribute("countTo"));
      if (!countUp.error) {
        countUp.start();
      } else {
        console.error(countUp.error);
      }
    }
    if (document.getElementById('state2')) {
      const countUp1 = new CountUp('state2', document.getElementById("state2").getAttribute("countTo"));
      if (!countUp1.error) {
        countUp1.start();
      } else {
        console.error(countUp1.error);
      }
    }
    if (document.getElementById('state3')) {
      const countUp2 = new CountUp('state3', document.getElementById("state3").getAttribute("countTo"));
      if (!countUp2.error) {
        countUp2.start();
      } else {
        console.error(countUp2.error);
      };
    }
  </script>
  
{% endblock %}
