{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Blog Author {% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
    @keyframes rotate {
        from {
          transform: rotate(0deg);
        }

        to {
          transform: rotate(360deg);
        }
      }

      @-webkit-keyframes rotate {
        from {
          -webkit-transform: rotate(0deg);
        }

        to {
          -webkit-transform: rotate(360deg);
        }
      }

      .load {
        width: 100px;
        height: 100px;
        margin: 110px auto 0;
        border: solid 10px #8822aa;
        border-radius: 50%;
        border-right-color: transparent;
        border-bottom-color: transparent;
        -webkit-transition: all 0.5s ease-in;
        -webkit-animation-name: rotate;
        -webkit-animation-duration: 1s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;

        transition: all 0.5s ease-in;
        animation-name: rotate;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }

      .paragraph-space {
        margin-bottom: 20px;
      }

    .hrline {
        border: none;
        height: 2px;
        color: #333; /* background color */
        background-color: #333; /* same as border color */
    }

    .additional-text {
        color: #999999; /* Change color to darker grey */
        font-size: 12px; /* Change font size to 14px */
        /* Add more styles as needed */
    }
    </style>
{% endblock %}
{% block body_class %} blog-single-makalah {% endblock %}
{% block content %}
{% include 'includes/navigation-light.html' %}
<!-- -------- START HEADER 3 w/ image on background ------- -->
<header class="position-relative">
     <div class="page-header" style="height: 30vh; background-image: url('{% static 'assets/img/curved-images/curved14.jpg' %}');">
        <span class="mask bg-gradient-dark opacity-6"></span>
    </div>
    <div class="position-absolute w-100 z-index-1 bottom-0">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="moving-waves">
                <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
                <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
                <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
                <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95" />
            </g>
        </svg>
    </div>
</header>
<!-- -------- END HEADER 3 w/ image on background ------- -->
<div class="container py-2 mt-2">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'makalah_home' %}">Daftar Makalah</a></li>
                <li class="breadcrumb-item active" aria-current="page">View Makalah</li>
            </ol>
        </nav>
    </div>
</div>
<!-- START Blogs w/ 3 images & quote & text -->
<section class="py-1 mt-5">
    <div class="container">




        <div class="row">
            <div class="col-lg-8 ms-auto me-auto">
                <h6 class="opacity-7 text-uppercase font-weight-bolder text-sm">{{ makalah.kategori }}</h6>
                <h4 id="judul_makalah" class="title mb-4">{{ makalah.judul_makalah }}</h4>
                <p id="kata_kunci" class="title mb-4">Kata Kunci: {{ makalah.kata_kunci }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-2">
                <div class="form-check mb-1">
                    <input class="form-check-input" type="radio" name="radioButtonMakalahCreate" id="abstrak">
                    <label class="custom-control-label" for="abstrak">Abstrak</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-check mb-1">
                    <input class="form-check-input" type="radio" name="radioButtonMakalahCreate" id="analisis_masalah">
                    <label class="custom-control-label" for="analisis_masalah">Analisis Masalah</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-check mb-1">
                    <input class="form-check-input" type="radio" name="radioButtonMakalahCreate" id="evaluasi_implementasi">
                    <label class="custom-control-label" for="evaluasi_implementasi">Evaluasi Implementasi</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-2">
                <div class="form-check mb-1">
                    <input class="form-check-input" type="radio" name="radioButtonMakalahCreate" id="klaim">
                    <label class="custom-control-label" for="klaim">Klaim</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-check mb-1">
                    <input class="form-check-input" type="radio" name="radioButtonMakalahCreate" id="metodologi">
                    <label class="custom-control-label" for="metodologi">Metodologi</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-check mb-1">
                    <input class="form-check-input" type="radio" name="radioButtonMakalahCreate" id="manfaat_finansial">
                    <label class="custom-control-label" for="manfaat_finansial">Manfaat Finansial</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-2">
                <div class="form-check mb-1">
                    <input class="form-check-input" type="radio" name="radioButtonMakalahCreate" id="latarbelakang">
                    <label class="custom-control-label" for="latarbelakang">Latar Belakang</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-check mb-1">
                    <input class="form-check-input" type="radio" name="radioButtonMakalahCreate" id="desain_inovasi">
                    <label class="custom-control-label" for="desain_inovasi">Desain Inovasi</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-check mb-1">
                    <input class="form-check-input" type="radio" name="radioButtonMakalahCreate" id="manfaat_non_finansial">
                    <label class="custom-control-label" for="manfaat_non_finansial">Manfaat Non Finansial</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-2">
                <div class="form-check mb-1">
                    <input class="form-check-input" type="radio" name="radioButtonMakalahCreate" id="maksud_tujuan">
                    <label class="custom-control-label" for="maksud_tujuan">Maksud dan Tujuan</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-check mb-1">
                    <input class="form-check-input" type="radio" name="radioButtonMakalahCreate" id="implementasi">
                    <label class="custom-control-label" for="implementasi">Implementasi</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-check mb-1">
                    <input class="form-check-input" type="radio" name="radioButtonMakalahCreate" id="daftar_pustaka">
                    <label class="custom-control-label" for="daftar_pustaka">Daftar Pustaka</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-2">
                <div class="form-check mb-1">
                    <input class="form-check-input" type="radio" name="radioButtonMakalahCreate" id="identifikasi_masalah">
                    <label class="custom-control-label" for="identifikasi_masalah">Identifikasi Masalah</label>
                </div>
            </div>
        </div>
        <div id="div_abstrak" style="display: none;">
            <div class="row">
                <div class="col-md-2">
                    <label>Abstrak</label>
                </div>
                <div class="col-md-10">
                    <p id="abstrak" class="text-dark"> {{ makalah.abstrak | safe }} </p>
                </div>
            </div>
        </div>
        <div id="div_klaim" style="display: none;">
            <div class="row">
                <div class="col-md-2">
                    <label>Klaim</label>
                </div>
                <div class="col-md-10">
                    <p id="klaim" class="text-dark"> {{ makalah.klaim | safe }} </p>
                </div>
            </div>
        </div>
        <div id="div_latarbelakang" style="display: none;">
            <div class="row">
                <div class="col-md-2">
                    <label>Latar Belakang</label>
                </div>
                <div class="col-md-10">
                    <p id="latar_belakang" class="text-dark"> {{ makalah.latar_belakang | safe }} </p>
                </div>
            </div>
        </div>
        <div id="div_maksud_tujuan" style="display: none;">
            <div class="row">
                <div class="col-md-2">
                    <label>Maksud_tujuan</label>
                </div>
                <div class="col-md-10">
                    <p id="maksud_tujuan" class="text-dark"> {{ makalah.maksud_tujuan | safe }} </p>
                </div>
            </div>
        </div>
        <div id="div_identifikasi_masalah" style="display: none;">
            <div class="row">
                <div class="col-md-2">
                    <label>Identifikasi_masalah</label>
                </div>
                <div class="col-md-10">
                    <p id="identifikasi_masalah" class="text-dark"> {{ makalah.identifikasi_masalah | safe }} </p>
                </div>
            </div>
        </div>
        <div id="div_analisis_masalah" style="display: none;">
            <div class="row">
                <div class="col-md-2">
                    <label>Analisis_masalah</label>
                </div>
                <div class="col-md-10">
                    <p id="analisis_masalah" class="text-dark"> {{ makalah.analisis_masalah | safe }} </p>
                </div>
            </div>
        </div>
        <div id="div_metodologi" style="display: none;">
            <div class="row">
                <div class="col-md-2">
                    <label>Metodologi</label>
                </div>
                <div class="col-md-10">
                    <p id="metodologi" class="text-dark"> {{ makalah.metodologi | safe }} </p>
                </div>
            </div>
        </div>
        <div id="div_desain_inovasi" style="display: none;">
            <div class="row">
                <div class="col-md-2">
                    <label>Desain_inovasi</label>
                </div>
                <div class="col-md-10">
                    <p id="desain_inovasi" class="text-dark"> {{ makalah.desain_inovasi | safe }} </p>
                </div>
            </div>
        </div>
        <div id="div_implementasi" style="display: none;">
            <div class="row">
                <div class="col-md-2">
                    <label>Implementasi</label>
                </div>
                <div class="col-md-10">
                    <p id="implementasi" class="text-dark"> {{ makalah.implementasi | safe }} </p>
                </div>
            </div>
        </div>
        <div id="div_evaluasi_implementasi" style="display: none;">
            <div class="row">
                <div class="col-md-2">
                    <label>Evaluasi_implementasi</label>
                </div>
                <div class="col-md-10">
                    <p id="evaluasi_implementasi" class="text-dark"> {{ makalah.evaluasi_implementasi | safe }} </p>
                </div>
            </div>
        </div>
        <div id="div_manfaat_finansial" style="display: none;">
            <div class="row">
                <div class="col-md-2">
                    <label>Manfaat_finansial</label>
                </div>
                <div class="col-md-10">
                    <p id="manfaat_finansial" class="text-dark"> {{ makalah.manfaat_finansial | safe }} </p>
                </div>
            </div>
        </div>
        <div id="div_manfaat_non_finansial" style="display: none;">
            <div class="row">
                <div class="col-md-2">
                    <label>Manfaat_non_finansial</label>
                </div>
                <div class="col-md-10">
                    <p id="manfaat_non_finansial" class="text-dark"> {{ makalah.manfaat_non_finansial | safe }} </p>
                </div>
            </div>
        </div>
        <div id="div_daftar_pustaka" style="display: none;">
            <div class="row">
                <div class="col-md-2">
                    <label>Daftar_pustaka</label>
                </div>
                <div class="col-md-10">
                    <p id="daftar_pustaka" class="text-dark"> {{ makalah.daftar_pustaka | safe }} </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ms-auto me-auto">
                <a href="{% url 'makalah_edit' makalah.id %}" class="btn bg-gradient-default">Edit</a>
            </div>
        </div>
    </div>

</section>

  

<!-- END Blogs w/ 3 images & quote & text -->
<section class="py-1 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 ms-auto me-auto">
            </div>
            <div class="col-lg-8 ms-auto me-auto">
                <select class="form-contro" aria-label="Pilihan Analisis AI" id="request-type-selection">
                    <option selected>Pilih Jenis Analisis oleh AI</option>
                    <option value="pertanyaan">Ajukan Pertanyaan</option>
                    <option value="kritikan">Kritikan</option>
                    <option value="saran_pengembangan">Saran Pengembangan</option>
                    <option value="catatan_kritis_umum">Catatan Kritis Umum</option>
                    <option value="catatan_kritis_aplikasi">Catatan Kritis untuk Aplikasi</option>
                    <option value="ide_manfaat_inovasi">Ide Manfaat Inovasi</option>
                    {% comment %} <option value="ide_risiko_inovasi">Ide Risiko Inovasi</option> {% endcomment %}
                    <option value="ide_risiko_inovasi_softwarefull">Ide Risiko Inovasi Software Full</option>
                    <option value="ide_risiko_inovasi_softwarealat">Ide Risiko Inovasi Software dengan Alat</option>
                    <option value="analisis_latar_belakang">Analisis Latar Belakang</option>
                    <option value="analisis_metodologi">Analisis Metodologi</option>
                </select>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-6 ms-auto me-auto">
                <button id="generateOpenAIcontent" type="button" class="btn bg-gradient-primary w-100">Generate</button>
            </div>
        </div>
        <div class="row">
            <!-- section for loading circle -->
            <div style="display: none" id="loading-circle" class="load"></div>
        </div>
        <div class="row">
            <div class="col-lg-2 ms-auto me-auto">
            </div>
            <div class="col-lg-9 ms-auto me-auto">
                <div class="col-lg-9">
                    <div id="outputOpenAI" style="height: auto;"></div>
                </div>
            </div>
        </div>
        <hr class="hrline">


        <form method="post" id="form-masukan">
            {% csrf_token %}
            <div class="form-group">
                    <div class="row">
                    <label for="{{ form_masukan.judul_masukan.id_for_label }}">{{ form_masukan.judul_masukan.label }}</label>
                    {{ form_masukan.judul_masukan }}
                </div>
                <div class="row">
                    <label for="{{ form_masukan.isi_masukan.id_for_label }}">{{ form_masukan.isi_masukan.label }}</label>
                    {{ form_masukan.isi_masukan }}
                </div>
            </div>
            <button type="submit" id="submit-button" class="btn btn-primary">Submit Masukan saya</button>
        </form>
    
        
 

          <div id="div_note_pertanyaan">
              <div class="row">
                  <div class="col-md-2">
                      <label>Note Pertanyaan</label>
                  </div>
                  <div class="col-md-10">
                      <p id="id_note_pertanyaan" class="text-dark"> {{ makalah.note_pertanyaan | safe }} </p>
                  </div>
              </div>
          </div>
          <div id="div_note_kritikan">
              <div class="row">
                  <div class="col-md-2">
                      <label>Note Kritikan</label>
                  </div>
                  <div class="col-md-10">
                      <p id="id_note_kritikan" class="text-dark"> {{ makalah.note_kritikan | safe }} </p>
                  </div>
              </div>
          </div>
          <div id="div_note_saran_pengembangan">
              <div class="row">
                  <div class="col-md-2">
                      <label>Note Saran Pengembangan</label>
                  </div>
                  <div class="col-md-10">
                      <p id="id_note_saran_pengembangan" class="text-dark"> {{ makalah.note_saran_pengembangan | safe }} </p>
                  </div>
              </div>
          </div>
          <div id="div_note_catatan_kritis_umum">
              <div class="row">
                  <div class="col-md-2">
                      <label>Note Catatan kritis umum</label>
                  </div>
                  <div class="col-md-10">
                      <p id="id_note_catatan_kritis_umum" class="text-dark"> {{ makalah.note_catatan_kritis_umum | safe }} </p>
                  </div>
              </div>
          </div>
          <div id="div_note_catatan_kritis_aplikasi">
              <div class="row">
                  <div class="col-md-2">
                      <label>Note Catatan kritis aplikasi</label>
                  </div>
                  <div class="col-md-10">
                      <p id="id_note_catatan_kritis_aplikasi" class="text-dark"> {{ makalah.note_catatan_kritis_aplikasi | safe }} </p>
                  </div>
              </div>
          </div>
          <div id="div_note_ide_manfaat_inovasi">
              <div class="row">
                  <div class="col-md-2">
                      <label>Note Ide manfaat inovasi</label>
                  </div>
                  <div class="col-md-10">
                      <p id="id_note_ide_manfaat_inovasi" class="text-dark"> {{ makalah.note_ide_manfaat_inovasi | safe }} </p>
                  </div>
              </div>
          </div>
          <div id="div_note_ide_risiko_inovasi">
              <div class="row">
                  <div class="col-md-2">
                      <label>Note Ide risiko inovasi</label>
                  </div>
                  <div class="col-md-10">
                      <p id="id_note_ide_risiko_inovasi" class="text-dark"> {{ makalah.note_ide_risiko_inovasi | safe }} </p>
                  </div>
              </div>
          </div>
          <div id="div_note_ide_risiko_inovasi_softwarefull">
              <div class="row">
                  <div class="col-md-2">
                      <label>Note Ide risiko inovasi software full</label>
                  </div>
                  <div class="col-md-10">
                      <p id="id_note_ide_risiko_inovasi_softwarefull" class="text-dark"> {{ makalah.note_ide_risiko_inovasi_softwarefull | safe }} </p>
                  </div>
              </div>
          </div>
          <div id="div_note_ide_risiko_inovasi_softwarealat">
              <div class="row">
                  <div class="col-md-2">
                      <label>Note Ide risiko inovasi software dg alat</label>
                  </div>
                  <div class="col-md-10">
                      <p id="id_note_ide_risiko_inovasi_softwarealat" class="text-dark"> {{ makalah.note_ide_risiko_inovasi_softwarealat | safe }} </p>
                  </div>
              </div>
          </div>
          <div id="div_note_analisis_latar_belakang">
              <div class="row">
                  <div class="col-md-2">
                      <label>Note Analisis latar belakang</label>
                  </div>
                  <div class="col-md-10">
                      <p id="id_note_analisis_latar_belakang" class="text-dark"> {{ makalah.note_analisis_latar_belakang | safe }} </p>
                  </div>
              </div>
          </div>
          <div id="div_note_analisis_metodologi">
              <div class="row">
                  <div class="col-md-2">
                      <label>Note Analisis metodologi</label>
                  </div>
                  <div class="col-md-10">
                      <p id="id_note_analisis_metodologi" class="text-dark"> {{ makalah.note_analisis_metodologi | safe }} </p>
                  </div>
              </div>
          </div>






      </div>
    </div>
</section>
{% include 'includes/footer-7.html' %}
{% endblock content %}
{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

if (document.getElementsByClassName('page-header')) {
    window.addEventListener('scroll', function() {
        var scrollPosition = window.pageYOffset;
        var bgParallax = document.querySelector('.page-header');
        var limit = bgParallax.offsetTop + bgParallax.offsetHeight;
        if (scrollPosition > bgParallax.offsetTop && scrollPosition <= limit) {
            bgParallax.style.backgroundPositionY = (50 - 10 * scrollPosition / limit * 3) + '%';
        } else {
            bgParallax.style.backgroundPositionY = '50%';
        }
    });
}

$(window).on('load', function() {
  $('#div_note_pertanyaan').hide();
  $('#div_note_kritikan').hide();
  $('#div_note_saran_pengembangan').hide();
  $('#div_note_catatan_kritis_umum').hide();
  $('#div_note_catatan_kritis_aplikasi').hide();
  $('#div_note_ide_manfaat_inovasi').hide();
  $('#div_note_ide_risiko_inovasi').hide();
  $('#div_note_ide_risiko_inovasi_softwarefull').hide();
  $('#div_note_ide_risiko_inovasi_softwarealat').hide();
  $('#div_note_analisis_latar_belakang').hide();
  $('#div_note_analisis_metodologi').hide();
});

// Change div note based on selected option of request type
$('#request-type-selection').change(function() {
  // Hide all divs
  $('[id^="div_note_"]').hide();

  // Get the selected option
  var selectedOption = $(this).val();

  // Show the corresponding div
  $('#div_note_' + selectedOption).show();
});

$(document).ready(function() {
    $('input[type=radio][name=radioButtonMakalahCreate]').change(function() {
        // Hide all divs
        $('#div_abstrak').hide();
        $('#div_klaim').hide();
        $('#div_latarbelakang').hide();
        $('#div_maksud_tujuan').hide();
        $('#div_identifikasi_masalah').hide();
        $('#div_analisis_masalah').hide();
        $('#div_metodologi').hide();
        $('#div_desain_inovasi').hide();
        $('#div_implementasi').hide();
        $('#div_evaluasi_implementasi').hide();
        $('#div_manfaat_finansial').hide();
        $('#div_manfaat_non_finansial').hide();
        $('#div_daftar_pustaka').hide();
        // Show the div corresponding to the selected radio button
        $('#div_' + this.id).show();
    });
});

{% comment %} $(document).ready(function () {
    $('#submit-button').on('click', function(e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/makalah/{{ makalah.id }}/',
            data: $('#form-masukan').serialize(),
            headers: {
                'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function(response) {
                // Handle the response here
                if (response.message === 'Success') {
                    console.log('Form submitted successfully');
                } else {
                    console.error('Error occurred:', response.message);
                }
            }
        });
    });
}); {% endcomment %}

// Request for OpenAI content
document
    .getElementById("generateOpenAIcontent")
    .addEventListener("click", async () => {
        var id_makalah = "{{ makalah.id | escapejs }}";
        var isi_judul_makalah  = "{{ makalah.judul_makalah | escapejs  }}";
        var isi_abstrak = "{{ makalah.abstrak | escapejs }}";
        var isi_klaim = "{{ makalah.klaim | escapejs }}";
        var isi_latar_belakang = "{{ makalah.latar_belakang | escapejs }}";
        var isi_maksud_tujuan = "{{ makalah.maksud_tujuan | escapejs }}";
        var isi_identifikasi_masalah = "{{ makalah.identifikasi_masalah | escapejs }}";
        var isi_analisis_masalah = "{{ makalah.analisis_masalah | escapejs }}";
        var isi_metodologi = "{{ makalah.metodologi | escapejs }}";
        var isi_desain_inovasi = "{{ makalah.desain_inovasi | escapejs }}";
        var isi_implementasi = "{{ makalah.implementasi | escapejs }}";
        var isi_evaluasi_implementasi = "{{ makalah.evaluasi_implementasi | escapejs }}";
        var isi_manfaat_finansial = "{{ makalah.manfaat_finansial | escapejs }}";
        var isi_manfaat_non_finansial = "{{ makalah.manfaat_non_finansial | escapejs }}";
        var isi_daftar_pustaka = "{{ makalah.daftar_pustaka | escapejs }}";

        var ketegoriRequest = document.getElementById('request-type-selection').value;
        // var historyOutput = document.getElementById('history-output');

        if (isi_abstrak) {
            document.getElementById("loading-circle").style.display = "block";

            const endpointUrl = "/airequest/request/";

            try {
                const response = await fetch(endpointUrl, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        data_id_makalah : id_makalah,
                        data_judul_makalah : isi_judul_makalah,
                        data_abstrak : isi_abstrak,
                        data_klaim : isi_klaim,
                        data_latar_belakang : isi_latar_belakang,
                        data_maksud_tujuan : isi_maksud_tujuan,
                        data_identifikasi_masalah : isi_identifikasi_masalah,
                        data_analisis_masalah : isi_analisis_masalah,
                        data_metodologi : isi_metodologi,
                        data_desain_inovasi : isi_desain_inovasi,
                        data_implementasi : isi_implementasi,
                        data_evaluasi_implementasi : isi_evaluasi_implementasi,
                        data_manfaat_finansial : isi_manfaat_finansial,
                        data_manfaat_non_finansial : isi_manfaat_non_finansial,
                        data_daftar_pustaka : isi_daftar_pustaka,
                        kategori_request: ketegoriRequest
                    }),
                });
                console.log(response);

                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }

                const data = await response.json();
                const jawaban = data.generated_idea;
                console.log(jawaban)
                // historyOutput.value += '\n---\n' + jawaban;

                // document.getElementById('outputOpenAI').value = jawaban;
                $('#outputOpenAI').html(jawaban);

                // document.getElementById('id_narasi_konten').value = data.generated_idea;


            } catch (error) {
                console.error("Error occurred:", error);
                console.log("Mohon maaf, ada yang salah. Please try again later." + error);
                // alert("Mohon maaf, ada yang salah. Please try again later.");
            }
            document.getElementById("loading-circle").style.display = "none";
        } else {
            alert("Harap masukkan konten.");
        }
    });
</script>
{% endblock %}